{{view Notes.TextField target="controller" action="createNewNote" classNames="input-small search-query mediumTopPadding" valueBinding="controller.newNoteName"}}
<button class="btn" {{action createNewNote}}>New Note</button>
{{view Notes.NoteListView}}
{{view Notes.ConfirmDialogView
    elementId="confirmDeleteConfirmDialog"
    okAction="doConfirmDelete"
    cancelAction="doCancelDelete"
    target="controller"
    header="Delete selected note?"
    message="Are you sure you want to delete the selected Note? This action cannot be be undone!"
}}