body {
    padding: 10px;
    background-color: #ffffff;
    font-family: Rockwell, Verdana, sans-serif;
    letter-spacing: 0em;
    color: #353B40;
    margin: 0px;
    padding: 0px;
    font-size: 1.1em;
}

#notes {
    background: aliceBlue;
    border-radius: 8px;
    position: absolute;
    left: 10px;
    width: 220px;
    top: 10px;
    bottom:10px;
    overflow: scroll;
    padding: 10px;
}

#selectedNote {
    background: #fff;
    position: absolute;
    left: 260px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border: 1px solid #cdd0d4;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

#selectedNote h1 {
    text-align: center;
}

#selectedNote textarea {
    background: url('../notebook.png') repeat-y;
    width: 80%;
    height: 90%;
    font: normal 14px verdana;
    line-height: 25px;
    padding: 2px 10px;
    padding-left: 95px;
    border: solid 1px #ddd;
}

.floatLeft {
	float: left;
}

.floatRight {
    float: right;
}

.floatNone {
    float: none;
}

.input-small {
    width: 120px;
}

.mediumTopPadding {
    margin-top: 9px;
    margin-right: 9px;
}

.smallTopPadding {
    margin-top: 5px;
    margin-right: 5px;
}
.centerAlign {
    text-align: center;
}

.fillWidth {
    width: 100%;
}

.almostFillWidth {
    width: 98%;
}

.smallMarginRight {
	margin-right: 5px;
}

.smallMarginBottom {
    margin-bottom: 4px;
}

.noBorderTop {
    border-top: none;
}

.pointer {
    cursor: pointer;
}

.fullWidth {
    width: 95%;
}

.azureBlueBackground {
    background-color: #F0F8FF;
}

.azureBlueBorderThin {
    border: 1px solid #CEDFED;
}

.noteListItem {
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 7px;
    line-height: 17px;
    vertical-align: middle;
}
.is-selected {
    background: #0088cc;
    color: #f1f4ee;
}